<%= form_for Message.new do |f| %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder:'Name' %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, class: 'form-control', placeholder:'Email' %>
  </div>
  <div class="form-group">
    <%= f.text_field :subject, class: 'form-control', placeholder:'Subject' %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder:'Body' %>
  </div>
  <div class="modal-footer">
    <div class="form-group text-center">
      <%= f.submit "Submit!", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>