html, 
body {
  height: 100%;
}

img {
  max-width: 100%;
}

/* Stages for background images */
#stage {
  background: url('/background.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 55%;
  width: 100%;
  display: flex;
}

#stage2 {
  background: url('/test_track.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: top;
}

#stage3 {
  background: url('/comp.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;

}

#stage4 {
  background: url('/bull.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
}

.stage-txt {
  font-size: 15px;
}

#backtext {
  background-size: cover;
  background-color: #f8f8f8;
  width: 100%;
  font-size: 16px;
}

/* Allows for effects based on the screen size */
@media screen and ( min-width : 991px) {
    /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }

}
@media screen and ( max-width : 991px) {

    /* Extra spacing for mobile screens */
  .space {
    margin-bottom: 20px;
  }

  /* Small menu button */

  button, input, optgroup, select, textarea {
    color: white;
  }

}

/* Navbar styling */
  .navbar {
    position: absolute;
    border: none;
  }
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  
  }

  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
  }

  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
    font-size: 15px;
  
  }
  .navbar-default.affix {
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }

.page-header {
  margin-top: -20px;

}

/* 3 homepage images */ 

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.home-img:hover .overlay {
  opacity: .8;
}

.text {
  color: black;
  font-size: 20px;
  font-family: 'Pontano Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.feature-content {
	padding: 4rem 0;
	overflow: hidden;
  align-items: bottom;
}

/* Timeline styling */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-txt {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 15px;
}

/* Footer styling */
.footer {
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Footer button sytling */
.btn-footer {
    color: black;
    background-color: #f8f8f8;
    border-color: black;
}

.btn-footer:hover {
    background-color: black;
    transition: .3s ease;
    color: white;
}
.btn-footer:focus {
    background-color: black;
    border-color: #f8f8f8;
    outline: none;
    box-shadow: none;
    color: white;
}
.btn-footer:active:focus {
    background-color: black;
    border-color: #f8f8f8;
    outline: none;
    box-shadow: none;
}

/* Headline text style */
.headline {
  font-family: 'Pontano Sans', sans-serif;
}

/* Progress bar format */
.progress-bar {
  background-color: #0089ff;
}

.nav-style {
  color: black;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover  {
  color: black;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 15px;

}

.nav-tabs>li>a {
  color: black;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 15px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

