<br>
<!-- Nav tabs -->
<div class="text-center">
  	<div>
	    <ul class="nav nav-tabs">

		    <li role="presentation" class="active"><a href="#ror" aria-controls="fundraising" role="tab" data-toggle="tab">Ruby on Rails</a></li>

		    <li role="presentation"><a href="#node" role="tab" data-toggle="tab">Node.js</a></li>

		    <li role="presentation"><a href="#bstr" role="tab" data-toggle="tab">Bootstrap</a></li>

				<li role="presentation"><a href="#heroku" role="tab" data-toggle="tab">Heroku</a></li>
				
				<li role="presentation"><a href="#git" role="tab" data-toggle="tab">Git</a></li>

	    </ul>
	  </div>  
    </div>

	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="ror"> 
	    	<br>
	    	<p class="text-center nav-style">I have built several RoR projects of various levels of complexity and feel quite comfortable with the framework.</p>
			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
			    <span class="sr-only">45% Complete</span>
			  </div> 
			</div>
			

	    </div>

	    <div role="tabpanel" class="tab-pane fade" id="node"> 
	    	<br>
	    	<p class="text-center nav-style"> I have built several basic RESTful APIs using Node.js.</p>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
			    <span class="sr-only">45% Complete</span>
			  </div>
			</div>
			

	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="bstr"> 
	    	<br>
	    	<p class="text-center nav-style"> I have used bootstrap in every project I have built to date and incorporated various bootstrap components in this website as well.</p>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
			    <span class="sr-only">45% Complete</span>
			  </div>
			</div>
			
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="heroku">
	    	<br>
	    	<p class="text-center nav-style"> This website and my other production applications are all hosted on Heroku.</p>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
			    <span class="sr-only">45% Complete</span>
		  	  </div>
		   </div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="git">
				<br>
				<p class="text-center nav-style">All of my projects were built using Git for version control.</p>

			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
					<span class="sr-only">70% Complete</span>
					</div>
			</div>
		</div>
</div>
