<div class="text-center">
    <ul class="nav nav-tabs">
	    <li role="presentation" class="active headline"><a href="#finance" aria-controls="fundraising" role="tab" data-toggle="tab">Finance</a></li>

	    <li role="presentation"><a href="#operations" role="tab" data-toggle="tab">Operations</a></li>

	    <li role="presentation"><a href="#bizdev" role="tab" data-toggle="tab">Business Development</a></li>

	    <li role="presentation"><a href="#pmgmt" role="tab" data-toggle="tab">Project Management</a></li>

    </ul>  
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active well" id="finance"> 
    	<br>
	    <p class="text-center nav-style">
				Developed and managed our project budget to ensure costs were kept to a minimum resulting in a total project cost that was 30% less than originally forecast. Developed and executed our fundraising strategy centered around creating a network of critical resources to ensure the teams success during and after my departure.Total fundraising resulted in $75,000 of mostly in-kind contributions for resources like lifting and shipping our pod, vacuum testing facilities, high-pressure air, build space, and more.
				Operations - Oversaw material deliveries, pod shipments, cross
			</p>

		<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		    
		  </div>
		</div>

    </div>

    <div role="tabpanel" class="tab-pane fade" id="operations"> 
    	<br>
	    <p class="text-center nav-style">Operations</p>

		<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		  </div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="bizdev"> 
    	<br>
	    <p class="text-center nav-style"> biz dev</p>

		<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		  </div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="pmgmt">
    	<br>
		<p class="text-center nav-style">Project Management</p>

		<div class="progress">
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		  </div>
		</div>
    </div>
</div>