<br>
<!-- Nav tabs -->
<div class="text-center">
  	<div>
	    <ul class="nav nav-tabs">

		    <li role="presentation" class="active"><a href="#excel" role="tab" data-toggle="tab">Excel</a></li>

		    <li role="presentation"><a href="#fa" role="tab" data-toggle="tab">Financial Analysis</a></li>

		    <li role="presentation"><a href="#val" role="tab" data-toggle="tab">Valuation</a></li>

		    <li role="presentation"><a href="#crypto" role="tab" data-toggle="tab">Blockchain</a></li>

	    </ul>
	  </div>  
    </div>

	<!-- Tab panes showing deals and fundraisers-->
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="excel"> 
	    	<br>
		    <p class="text-center nav-style"> Excel has been an integral part of my work during internships and in the classroom.</p>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
			    <span class="sr-only">45% Complete</span>
			  </div>
			</div>

	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="fa"> 
	    	<br>
		    <p class="text-center nav-style"> I have extensive experience analyzing income statements, balance sheets, and cash flow statements.</p>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
			    <span class="sr-only">45% Complete</span>
			  </div>
			</div>
	    </div>
    
	    <div role="tabpanel" class="tab-pane fade" id="val"> 
	    	<br>
		    <p class="text-center nav-style">I am comfortable with valuation techniques including DCF, VC method, and comparables. </p>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
			    <span class="sr-only">45% Complete</span>
			  </div>
			</div>
	    </div>

	    <div role="tabpanel" class="tab-pane fade" id="crypto">
	    	<br>
		    <p class="text-center nav-style"> I am a novice when it comes to blockchain technology and cryptocurrencies but I am actively learning and think they could have a profound effect on the future of finance.</p>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
			    <span class="sr-only">45% Complete</span>
			  </div>
			</div>
	    </div>
	</div>
		
