<ul class="timeline">
    <li>
      <div class="timeline-panel hvr-grow">
          <div class="">
            <%= image_tag "tube.jpg", class:"img-responsive img-rounded" %>
          </div>
        <div class="timeline-body text-center" >
          <p class="timeline-txt text-center ">
          <br>
          <b>December 2015 - Present </b>
          SpaceX Hyperloop Pod Competition
          
          </p>
        </div>
      </div>
        <div class="timeline-inverted">
          <h2 class="headline"> Paradigm Hyperloop </h2>         
          <p>
            Paradigm Hyperloop is an international team of students from Northeastern University in Boston and Memorial University of Newfoundland Canada. 
            We took second place in the second SpaceX Hyperloop Competition and are now the fastest student team in North America and the second fastest student team in the world. 
            We are also the only team to complete a high speed run with an air bearing based pod. As the business lead and project co-lead I have a wide range of responsibilities including 
            finance, operations, business development, and project management.
          </p>
          <br>    
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/qJk_zS7KJo4"> </iframe>
                </div>
              </div>
          </div>
              <br>
              <br>
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">        
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Carousel indicators -->
                      <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          <li data-target="#myCarousel" data-slide-to="3"></li>
                          <li data-target="#myCarousel" data-slide-to="4"></li>
                          <li data-target="#myCarousel" data-slide-to="5"></li>
                      </ol>   
                      <!-- Wrapper for carousel items -->
                      <div class="carousel-inner">
                          <div class="item active">
                              <%= image_tag "StagingPlatform.JPG", height:"10px", alt:"First Slide", class:"img-rounded" %>
                          </div>
                          <div class="item">
                              <%= image_tag "loading.jpg", alt:"Second Slide", height:"250px" %>
                          </div>
                          <div class="item">
                              <%= image_tag "spectacle.JPG", alt:"Third Slide", height:"250px" %>
                          </div>
                          <div class="item">
                              <%= image_tag "HalfShell.jpg", alt:"Third Slide", height:"250px" %>
                          </div>
                          <div class="item">
                            <%= image_tag "teampic.JPG", alt:"final slide", height:"250px" %>
                          </div>
                          <div class="item">
                            <%= image_tag "BoothPic.JPG", alt:"final slide", height:"250px" %>
                          </div>
                      </div>
                      <!-- Carousel controls -->
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
              </div>
              <br>
            </div>
         </div>

         <h2 class="headline"> OpenLoop </h2>
         <p>
          OpenLoop was a six university alliance that competed in the first SpaceX Hyperloop Competition. The team was ultimately led by Northeastern and Memorial University students and made it to the finals of the competition. 
          Despite placing in the top fifteen teams in the world, OpenLoop ultimately fell short of its goal of getting a high-speed run in the SpaceX Hyperloop Tube.
         </p>
         <br>
         <div class="row">
              <div class="col-md-8 col-md-offset-2">
                    <div class="bs-example">
                  <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                      <!-- Carousel indicators -->
                      <ol class="carousel-indicators">
                          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel2" data-slide-to="1"></li>
                          <li data-target="#myCarousel2" data-slide-to="2"></li>
                          <li data-target="#myCarousel2" data-slide-to="3"></li>
                          <li data-target="#myCarousel2" data-slide-to="4"></li>
                          <li data-target="#myCarousel2" data-slide-to="5"></li>
                      </ol>   
                      <!-- Wrapper for carousel items -->
                      <div class="carousel-inner">
                          <div class="item active">
                              <%= image_tag "PodRail.jpg", alt:"First Slide", class:"img-rounded" %>
                          </div>
                          <div class="item">
                              <%= image_tag "VacChamber.jpg", alt:"Second Slide" %>
                          </div>
                          <div class="item">
                              <%= image_tag "PodShell.JPG", alt:"Third Slide" %>
                          </div>
                          <div class="item">
                              <%= image_tag "PodShellAllLogos.JPG", alt:"Third Slide" %>
                          </div>
                          <div class="item">
                            <img src="https://news.northeastern.edu/wp-content/uploads/2016/07/neu_m040cf602.jpg">
                          </div>
                          <div class="item">
                            <%= image_tag "test_trac.jpg", alt:"final slide" %>
                          </div>
                      </div>
                      <!-- Carousel controls -->
                      <a class="carousel-control left" href="#myCarousel2" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="carousel-control right" href="#myCarousel2" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                  </div>
              </div>
            </div>
         </div>         
    </div>      
    </li>

    <br>
    
    <li>
      <div class="timeline-panel hvr-grow">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">

              <%= image_tag "gmo.jpg", class:"img-responsive img-rounded" %>

          <p class="timeline-txt text-center"> 
            <br>
            <b>July 2015 - Dec 2015 </b>
            <br> 
              Grantham, Mayo, Van Otterloo & Co. LLC
          </p>
        </div>
      </div>
      <div class="timeline-inverted">
          <h2 class="headline"> Derivative Support Group </h2> 
          <p>
            During my time at GMO, I worked as a member of the derivative support group. It was our responsibility to handle OTC derivative confirmations and review them for legal and economic accuracy. 
            Over the course of my six-month co-op experience, I handled thousands of confirmations for credit default swaps, cross currency swaps, interest rate swaps and a variety of other securities. 
            Aside from working on derivative confirmations I also helped optimize confirmation archive procedures to improve efficiency.
          </p>
      </div>
    </li>

    <li>
      <div class="timeline-panel hvr-grow">
        <div class="timeline-heading">
        </div>
        <div class="timeline-body">
            <%= image_tag "ubs.jpg", class:"img-responsive img-rounded" %>
            <p class="timeline-txt text-center">
            <br>
            <b>July 2014 - Dec 2014 </b>
            <br> UBS Wealth Management
          </p>
          </div>
      </div>
      <div class="timeline-inverted">
          <h2 class="headline"> Cost Basis Operations </h2>
          <p>
            UBS was my first co-op experience and initial exposure to the world of finance. I worked as a member of the cost basis team, a strictly back-office role that serviced client accounts. 
            As a cost basis specialist, I spent my time researching equities and analyzing stock splits to resolve cost basis issues. 
            Issues were submitted to our system from a vast network of UBS financial advisors. I interacted with financial advisors and their subordinates on a daily basis to resolve these issues. 
            Over the course of my experience, I developed an understanding of the wealth management business and insight into how portfolios are structured. 
          </p>
      </div>
    </li>
</ul>