<div id="stage4">
	<div class="container col-md-8 col-md-offset-2">
		<h1 class="text-center headline"> Finance </h1>
		<h4 class="text-center headline"> 
			I bought my first stock at age 13, studied finance in college, completed two internships in the industry, and actively observe and participate in the market.  
		</h4> 
	</div>
</div>

<br>
<br>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<br>
				<br>
				<h3 class="text-center headline"> Grantham Mayo & Von Oterloo </h3>
				<p>
                    During my time at GMO, I worked as a member of the derivative support group. It was our responsibility to handle OTC derivative confirmations and review them for legal and economic accuracy. Over the course of my six-month co-op experience, I handled thousands of confirmations for credit default swaps, cross currency swaps, interest rate swaps and a variety of other securities. Aside from working on derivative confirmations I also helped optimize confirmation archive procedures to improve efficiency. 
				</p>
			</div>
			<div class="col-md-6">
				<img src="https://s-media-cache-ak0.pinimg.com/originals/56/15/6a/56156a09a3cb8f78e91410749bddab87.jpg" class="img-rounded img-responsive">
			</div>
		</div>
	</div>
</section>

<br>
<br>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
						    <img src="https://static.seekingalpha.com/uploads/2016/1/9/12881201-14523801937002354-The-Investment-Doctor_origin.jpg" class="img-rounded img-responsive">
			</div>
			<div class="col-md-6">
				<h3 class="text-center headline"> UBS </h3> 
				<p>
	                UBS was my first co-op experience and initial exposure to the world of finance. I worked as a member of the cost basis team, a strictly back-office role that serviced client accounts. As a cost basis specialist, I spent my time researching equities and analyzing stock splits to resolve cost basis issues. Issues were submitted to our system from a vast network of UBS financial advisors. I interacted with financial advisors and their subordinates on a daily basis to resolve these issues. Over the course of my experience, I developed an understanding of the wealth management business and insight into how portfolios are structured. 
				</p>
			</div>
		</div>
	</div>
</section>

<br>
<br>

<section>
	<div class="container">
		<div class="row text-center headline">
			<h3> Skills & Interests </h3> 
		</div>
	</div> 
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= render 'pages/nav_finance' %>
			</div>
		</div>
	</div> 
</section>
<br>
<br>
