<div class="container">
<br>
<br>
<section>
  <div class="row">
        <div class="col-md-2 col-md-offset-1 text-center">
          <%= image_tag "me.png", class:"img-responsive img-circle headshot" %>
        </div>
        <div class="col-md-8">
          <br>
          <br>
          <h3 class="headline"> Welcome! </h3>
          <p> My name is Benjamin Lippolis and I recently graduated from Northeastern University where I studied business with a concentration in finance. 
              I have a wide range of interests and experiences which I have outlined below. Feel free to reach out either through the contact form or email me directly at blippolis11@gmail.com!
          </p>
        </div> 
  </div>
</section>
<section>
    <div class="page-header">
      <h2 class="headline">Experience</h2>
    </div>
    <%= render 'pages/timeline_home' %> 
</section>

<section>
    <div class="page-header">
      <h2 class="headline">Education</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-md-offset-2 hvr-grow">
        <%= image_tag "nu.png", height:"200px"%>
        <h4 class="headline">2013 - 2017 <br>
          Northeastern University <br>
          BSBA Finance 3.54 GPA <br>
        </h4>
      </div>
      <div class="col-md-4 hvr-grow">
        <%= image_tag "USN_log1.jpg", height:"200px" %>
        <h4 class="headline">2008 - 2012 <br>
          University School of Nashville <br>
          High School Diploma 
        </h4>
      </div>
    </div>
</section>

<section>
  <div class="page-header">
    <h2 class="headline">Web Development</h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 web">
      <p class="nav-style"> I am a self-taught Ruby on Rails web developer and have been building web applications since I discovered my passion for programming in 2015. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 well text-center cont">    
      <a href="https://www.krispp.com">  
        <%= image_tag "krispp.png", class:"img-responsive web-img" %>
      </a>
      <div class="overlay">
        <div class="text text-center">
            <br>
            <h2> Krispp </h2> 
            <br>
            Krispp is a web application that aims to connect student organizations looking to fundraise with local businesses offering discounts and gift cards. 
            The concept was born from my frustration with existing fundraising options for student organizations. Building Krispp allowed me to solve a relevant 
            problem and push my programming abilities to build a production ready solution. The apps main features include user authentication, fundraiser and 
            deal creation functionality, deal and fundraiser selection functionality, Twilio integration for sending deals via text, and Stripe integration for 
            payment processing. You can check it out on the web at www.krispp.com.        
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-8 col-md-offset-2 well text-center cont">
        <%= image_tag "nested.png", class:"img-responsive img-rounded web-img" %>
        <div class="overlay">
          <div class="text text-center">
            <br>
            <h2> Nested </h2> 
            <br>
            Nested was the first web application I put into production. The purpose of this project was to take an app of my own design from zero to deploy and learn the ins and outs of putting an app into production on Heroku. 
            The app incorporates some basic functionality and allows users to create savings goals and deposit money to reach those goals. When a user reaches a goal they can choose to save all of it and move on to a new goal, 
            withdraw twenty percent and move on, or quit and withdraw all of their savings. 
          </div> 
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'pages/nav_webdev' %>
    </div>
  </div> 
</section>
<br>
</div>