<div id="stage2">
	<div class="container col-md-8 col-md-offset-2">
		<br>
		<br>
		<br>
	    <h1 class="headline text-center">SpaceX Hyperloop Pod Competition </h1>
		<h4 class="headline text-center">
			Since 2016 I have been actively involved in the development of the Hyperloop concept and served as the business lead for two competition finalists. 
		</h4>	
	</div>
</div>

<br>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<br>
				<br>
				<br>
				<h2 class="text-center headline"> Paradigm Hyperloop </h2>
				<p>
					At Paradigm Hyperloop I am involved on a daily basis with tasks ranging from securing critical sponsorships, working with the core leadership team, managing university relations, logistics, and managing all operational tasks to keep our project running smoothly. I work to minimize project costs by developing partnerships with a wide range of companies. I work to make our engineer's lives easier by facilitating discussions with the university and managing operations. I work with the core leadership team to manage deadlines and maintain communications across the various disciplines our project covers. 
				</p>
			</div>
			<div class="col-md-6">
					<br> 
					<br>
				<div class="embed-responsive embed-responsive-16by9">
	    			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/6h-bhs3t1jQ"> </iframe>
	    		</div>

			</div>
		</div>
	</div>
</section>

<br>
<br>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
							<div class="bs-example">
				    <div id="myCarousel" class="carousel slide" data-ride="carousel">
				        <!-- Carousel indicators -->
				        <ol class="carousel-indicators">
				            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				            <li data-target="#myCarousel" data-slide-to="1"></li>
				            <li data-target="#myCarousel" data-slide-to="2"></li>
				            <li data-target="#myCarousel" data-slide-to="3"></li>
				            <li data-target="#myCarousel" data-slide-to="4"></li>
				        </ol>   
				        <!-- Wrapper for carousel items -->
				        <div class="carousel-inner">
				            <div class="item active">
				                <%= image_tag "PodRail.jpg", alt:"First Slide", class:"img-rounded" %>
				            </div>
				            <div class="item">
				                <%= image_tag "VacChamber.jpg", alt:"Second Slide" %>
				            </div>
				            <div class="item">
				                <%= image_tag "PodShell.JPG", alt:"Third Slide" %>
				            </div>
				            <div class="item">
				                <%= image_tag "PodShellAllLogos.JPG", alt:"Third Slide" %>
				            </div>
				            <div class="item">
				            	<img src="https://news.northeastern.edu/wp-content/uploads/2016/07/neu_m040cf602.jpg">
				            </div>
				        </div>
				        <!-- Carousel controls -->
				        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
				            <span class="glyphicon glyphicon-chevron-left"></span>
				        </a>
				        <a class="carousel-control right" href="#myCarousel" data-slide="next">
				            <span class="glyphicon glyphicon-chevron-right"></span>
				        </a>
				    </div>
				</div>
			</div>
			<div class="col-md-6">
				<br>
				<br>
				<br>
				<h2 class="text-center headline"> OpenLoop</h2> 
				<p>
					Working on the OpenLoop project was a transformative experience for me both personally and professionally. I was ripped out of the tame world of finance and thrust into a fast paced, frantic, dirty, engineering intensive environment. I loved it. I was faced with extreme adversity and had to push myself in the face of uncertain outcomes. Ultimately I was able to secure more than $100,000 in funding for the OpenLoop project and enable our team to reach the finals of the competition. Over the course of the OpenLoop experience, I learned what it takes to be effective and how to drive results in an early stage startup like environment. I also developed an understanding of the different expertise and requirements of developing a complex technology from the design stage to the prototype stage.
				</p>
			</div>
			

		</div> 
	</div>
</section>

<br>
<br>

<section>
	<div class="container">
		<div class="row text-center headline">
			<h3> Skills & Interests </h3> 
		</div>
	</div> 
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= render 'pages/nav_hyperloop' %>
			</div>
		</div> 
	</div>
</section>
<br>
<br>
<br>
<br>