<div id="stage3">
	<div class="container col-md-6 col-md-offset-3">  
	   	<h1 class="text-center headline"> Web Development </h1>
		<h4 class="headline text-center">
			I am a self-taught Ruby on Rails web developer and have been building web applications since I discovered my passion for programming in 2015. 
		</h4>
	</div>
</div>

<br> 

<section>
	<div class="container">
		<div class="row">
			<br> 
			<div class="col-md-6 well">    
				<a href="https://www.krispp.com">  
               		<%= image_tag "krispp.png", class:"img-responsive" %>
           		</a>
			</div>
			<div class="col-md-6">
				<h2 class="text-center headline"> Krispp </h2>
				<p>
                	Krispp is a web application that aims to connect student organizations looking to fundraise with local businesses offering discounts and gift cards. The concept was born from my frustration with existing fundraising options for student organizations. Building Krispp allowed me to solve a relevant problem and push my programming abilities to build a production ready solution. The apps main features include user authentication, fundraiser and deal creation functionality, deal and fundraiser selection functionality, Twilio integration for sending deals via text, and Stripe integration for payment processing. You can check it out on the web at www.krispp.com.
				</p>
			</div>
		</div>
	</div>
</section>

<br>
<br>

<section>
	<div class="container">		
		<div class="row" >
			<div class="col-md-6">     
				<h2 class="text-center headline"> Nested </h2> 
				<p>
					Nested was the first web application I put into production. The purpose of this project was to take an app of my own design from zero to deploy and learn the ins and outs of putting an app into production on Heroku. The app incorporates some basic functionality and allows users to create savings goals and deposit money to reach those goals. When a user reaches a goal they can choose to save all of it and move on to a new goal, withdraw twenty percent and move on, or quit and withdraw all of their savings. 
				</p>
			</div>
			<div class="col-md-6 text-center well">
				<%= image_tag "nested.png", class:"img-responsive img-rounded" %>
			</div>
		</div>
	</div>
</section>

<br>
<br>

<section>
	<div class="container">
		<div class="row text-center headline">
			<h3> Skills & Interests </h3> 
		</div>
	</div> 
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= render 'pages/nav_webdev' %>
			</div>
		</div> 
	</div> 
</section> 
<br>
<br>