<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From <%= @message.name %></h1>
    <p>
      <%= @message.email %><br>
      <%= @message.subject %><br>
      <%= @message.body %><br>
    </p>
  </body>
</html>