html, 
body {
  height: 100%;
}

img {
  max-width: 100%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}


/* Allows for effects based on the screen size */
@media screen and ( min-width : 991px) {
    /* Grow */

  /* Resize timeline panel txt */
  .timeline-txt {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 15px;
  }

  .text {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  
  }

}

@media screen and ( max-width : 991px) {

    /* Extra spacing for mobile screens */
  .space {
    margin-bottom: 20px;
  }

   /* Resize photo */
  .headshot { 
    height: 150px;
  }

  /* Resize timeline panel txt */
  .timeline-txt {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 12px;
  }


}

@media screen and ( max-width : 600px) {

  /* Resize timeline panel txt */
  .timeline-txt {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 9px;
  }

  /* Resize text for web dev image overay */

  .text {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
  
  }

}

/* 2 Web Dev Images */ 

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.cont {
  position: relative;
}

.cont:hover .overlay {
  opacity: .95;
}

.web-img {
  display: block;
  width: 100%;
  height: auto;
}

.feature-content {
	padding: 4rem 0;
	overflow: hidden;
  align-items: bottom;
}

/* Nav Tab Style */
.nav-style {
  color: black;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover  {
  color: black;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 15px;

}

.nav-tabs>li>a {
  color: black;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 15px;
}

/* Timeline styling */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

/* center line */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #eeeeee;
  left: 23%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 20%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}



.timeline-body-inverse {
  float: left;
  margin-left: 10%;
  padding: 0px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 10;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-inverted {
  margin-left: 26%;
}


.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}



/* Footer styling */
.footer {
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Footer button sytling */
.btn-footer {
    color: black;
    background-color: #f8f8f8;
    border-color: black;
}

.btn-footer:hover {
    background-color: black;
    transition: .5s ease;
    color: white;
}
.btn-footer:focus {
    background-color: black;
    border-color: #f8f8f8;
    outline: none;
    box-shadow: none;
    color: white;
}
.btn-footer:active:focus {
    background-color: black;
    border-color: #f8f8f8;
    outline: none;
    box-shadow: none;
}

/* Headline text style */
.headline {
  font-family: 'Pontano Sans', sans-serif;
}

