<% flash.each do |key, value| %>
<div class="container">
  <div class="alert alert-<%= key %> text-center">
    <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
  </div>
</div>
<br>
<br>
<% end %>