<section class="footer">
      <div class="container">      
        <div class="row">   
          <div class="col-md-3 text-center">
            <a href="/Benjamin_Lippolis_Resume.pdf" download> 
              <button class="btn btn-footer space"> Resume </button>
            </a>
          </div> 
            
          <div class="col-md-3 text-center">
            <a href="https://www.linkedin.com/in/benjamin-lippolis-71632992/">
              <%= image_tag "li.png",  class:"space", height:"40px", width:"40px"  %>
            </a>
          </div>

          <div class="col-md-3 text-center">
              <%= image_tag "local.png", class:"space", height:"40px", width:"40px" %> Boston, MA 
          </div>

          <div class="col-md-3 text-center">
            <!-- Modal Button-->
            <button class="btn btn-footer" data-toggle="modal" data-target="#myModal">Contact</button>
            <%= render 'layouts/modal' %>
          </div> 
        </div>            
    </div>
</section>