<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title headline" id="myModalLabel">
        <div class="col-md-4 col-md-offset-4 text-center">
          Contact Me
        </div> 
      </h4>
    </div>

    <div class="modal-body">
      <%= render 'messages/form' %>
    </div>

  </div>
</div>
</div>
<!-- End Modal --> 