<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <%= link_to "Benjamin", root_path, class: 'navbar-brand page-scroll' %>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "Hyperloop", hyperloop_path %>
                </li>
                <li>
                    <%= link_to "Web Development", webdev_path %>
                </li>
                <li>
                    <%= link_to "Finance", finance_path %>
                </li>
                <li>
                    <%= link_to "Contact", "#myModal", "data-toggle" => "modal" %>
                </li>                       
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>